<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h2>HR Portal</h2>

        <a href={% url 'reg_emp' %}>Create Employee</a>
        <a href={% url 'emp_list' %}>Employee List</a>
        <a href={% url 'pending_req' %}>Pending Request</a>
        <a href={% url 'approved_req' %}>Approved Request</a>

        
        <script src="" async defer></script>
    </body>
</html>